{% load static %}
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>LifeLink</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
progress {
  text-align: center;
}
progress:after {
  content: attr(value)'%';
}
</style>
<style>
table, th, td {
  border: 3px solid blue;
  border-collapse: collapse;
}

th:nth-child(even),td:nth-child(even) {
  background-color: #D6EEEE;
}
</style>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><span><center><font size="5" color="white"><br/>LifeLink: Online Blood Donation Network</font>

</center></span></h1>
		
	</div>
	<div id="menu">
		<ul>      
     <li><a href="{% url 'ViewDonation' %}"><font size="3" color="white">View Past Donation</a></li>
	 <li><a href="{% url 'index' %}"><font size="3" color="white">Logout</a></li>
   </ul>     
		
	</div>
	
</div>
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		
		<!-- start content -->
		<div id="content">
			<div class="flower"><img src="{% static 'images/tra.jpg' %}" alt="" width="800" height="200" /></center></div>
			<br/><br/>

			<center><font face="verdana" color="black">{{ data|safe }}</center></font><br/>
		<img src="data:image/png;base64, {{ img }}" alt="" />
	
		<center>
		
			<table align="center">
			<tr>
			<h3>
			</p></h3>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>


